body {

}

h3 {
    text-align: center;
}

.labs {
    position: relative;
}

.lab {
    width: 600px;
    position: relative;
    margin: 40px auto;
}

.square {
    position: absolute;
    background-color: #302d30;
}

.wall-0 {
    border-top: 1px darkred solid;
}

.wall-1 {
    border-right: 1px darkred solid;
}

.wall-2 {
    border-bottom: 1px darkred solid;
}

.wall-3 {
    border-left: 1px darkred solid;
}

.choose-label {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkred;
}

.choose {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-labs {
    padding-top: 10px;
}

.size-btn {
    margin: 3px;
}

.is-active {
    border: 3px solid #302d30;
    background-color: orange !important;
    transition: 0.2s ease;
}

.exit {
    border: 3px solid #302d30;
    background-color: green;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.visited {
    background-color: #4a3d4a;
    transition: 0.2s ease;
}

.result-container {
    height: 50px;
}

.result {
    text-align: center;
}
.count {
    display: inline;
    font-weight: 900;
    color: darkred;
}
