body {

}

h3 {
    text-align: center;
}

.labs {
    position: relative;
}

.lab {
    width: 600px;
    position: relative;
    margin: 40px auto;
}

.square {
    position: absolute;
    background-color: #302d30;
    text-align: center;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.wall-0 {
    border-top: 1px darkred solid;
    transition: all 0.8s ease-out;
}

.wall-0-break {
    border-top: 1px white dotted;
    transition: border-top 0.3s ease-out;
}

.broken-0 {
    border-top: none !important;
}

.wall-1 {
    border-right: 1px darkred solid;
    transition: all 0.8s ease-out;
}

.wall-1-break {
    border-right: 1px white dotted;
    transition: border-right 0.3s ease-out;
}

.broken-1 {
    border-right: none !important;
}

.wall-2 {
    border-bottom: 1px darkred solid;
    transition: all 0.8s ease-out;
}

.wall-2-break {
    border-bottom: 1px white dotted;
    transition: border-bottom 0.3s ease-out;
}

.broken-2 {
    border-bottom: none !important;
}

.wall-3 {
    border-left: 1px darkred solid;
    transition: all 0.8s ease-out;
}

.wall-3-break {
    border-left: 1px white dotted;
    transition: border-left 0.3s ease-out;
}

.broken-3 {
    border-left: none !important;
}

.choose-label {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkred;
}

.choose {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-labs {
    padding-top: 10px;
}

.size-btn {
    margin: 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.is-active {
    /*border: 3px solid #302d30;*/
    /*background-color: #5a51e0 !important;*/
    transition: 0.6s ease;
}

.is-active:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    background: url("/assets/pin.svg") no-repeat;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
}


.entrance:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    background: url('/assets/right-arrow-start.svg') no-repeat;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    font-weight: 700;
}


.exit:before {
    position: absolute;
    content: '';
    background: url('/assets/right-arrow-exit.svg') no-repeat;
    font-weight: 700;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    justify-content: center;
}

.visited {
    background-color: #bd4d4d;
    transition: 0.2s ease;
}

.result-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-btn {
    cursor: pointer;
    color: darkred;
    font-size: 21px;
}

.break-btn:hover {
    color: #302d30;
}

.result {
    text-align: center;
}

.count {
    display: inline;
    font-weight: 900;
    color: darkred;
}

.btn-secondary {
    background-color: #8b0000;
    border: none;
    outline: none;

}

.btn-secondary:hover {
    background-color: #990202;
}

.btn-secondary:focus {
    box-shadow: none;
}

.start-btn {
    margin: 0 15px;
}